.location_search {
    width: 75%;
    margin: 0 auto;
}
div#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #15151591;
  z-index: 9999999;
}
#loader-1{
  z-index: 99999;
}
#unlimited_calls{
	display: inline-table;
}
.continueBtn{
  display: none;
}
label.error{
  color: red;
  float: left;
  text-transform: capitalize;
  font-size: 15px;
}
.speedtestshow{
  display: none;
}
input.error, select.error {
    border: 1px solid red !important;
}
input.error,select.error{
  border-bottom:1px solid red !important;
}
.reveiewing_form_service input.error,select.error{
  border:1px solid red !important;
}
ul.inline_list {
    display: -webkit-inline-box;
}
ul.inline_list li {
    margin-right: 5rem;
}
.w-40 {
    width: 40%;
}
input.form-control.price-box.device-price {
    width: 80%;
    float: left;
    margin-top: 0;
    padding: 0 14px;
    margin-left: 9px;
}
a.btn.btn-info.pull-right.add_service:hover{
  background-color: #ffffff !important;
  color: #2e75b5 !important;
  border: 2px solid #2e75b5 !important;
}
.contact-form .submit-btn:hover, button.btn.btn-primary.btn-lg.btn-block.product-submit-btn:hover{
  background-color: #fff !important;
  color: #2e75b5 !important;
  border: 2px solid #2e75b5 !important;
}
.contact-form .submit-btn, button.btn.btn-primary.btn-lg.btn-block.product-submit-btn {
  background-color: #ffffff !important;
  color: #2e75b5 !important;
  border: 2px solid #2e75b5 !important;
  width: 30%;
}
.service-rating-submit-btn{
  color: #495057;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary{
  background-color: #fff !important;
  color: #2e75b5 !important;
  border: 2px solid #2e75b5 !important;
}
.tg-select.tg-select select{
  line-height: 37px;
  padding: 0 10px;
}
.tg-select.tg-select:after{
  top:-4px;
}
.tg-select.form-control {
    padding: 0;
}
/*Toggle switch button css*/
.switch {
  	position: relative;
  	display: inline-block;
  	width: 40px;
	height: 20px;
	margin-bottom: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -2.6px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #96fdd4;
    border: 1px solid #96fdd4;
    transition: .4s;
    border-radius: 30px;
}
span.toggle_label.active {
    color: #96fdd4;
    font-weight: 600;
}
span.reviewpage_toggle.active{
    color: #96fdd4 !important;
    font-weight: 600;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    border-radius: 13px;
    width: 14px;
    left: 5px;
    bottom: 3.6px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 1px 8px 0px #7d7d7d;
}

input:checked + .slider {
    background-color: #96fdd4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider:before {
    background: #fff;
    left: -6px;
}
.text-default{
  color: #999 !important;
}
.reviewpage_toggle{
  vertical-align: text-bottom;
  font-size: 20px;
}
span.toggle_label {
    color: #fff;
    font-size: 15px;
    vertical-align: text-bottom;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End Toggle switch button css*/

#new-products .product-item{
  margin-bottom: 0px;
}
#new-products .owl-nav{
  top: -150px;
}
#new-products .carousel-thumb img{
  width: 80%;
}
.service_type .buisness{
  display: none;
}
.provider_text,.supplier_text,.brand_text{
  display: none;
}

/*Rating star css */
.rate-base-layer
  {
      color: #999;
  }
.rate-hover-layer
  {
      color: orange;
  }
  .rate-select-layer
  {
      color: orange;
  }
  .rating {
    font-size: 35px;
}
a.link:hover span{
  color: #fff;
}

ul.first_row_service li {
    display: inline-flex;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #96fdd4;
    border-color: #96fdd4 #96fdd4 #96fdd4;
}
.nav-tabs .nav-link{
  color: #495057;
}
div#accordion .panel-heading h4 a{
  color: #495057; 
  padding-left: 0;
  padding-right: 0;
}
div#accordion .panel-heading h4 a i{
 color: #495057; 
}
.add_service{
  color: #495057;
}
/*Accordian*/

.panel-group .panel {
     border-radius: 0;
     box-shadow: none;
     border-color: #EEEEEE;
 }

 .panel-title {
     font-size: 14px;
 }

 .panel-title > a {
     display: block;
     padding: 15px;
     text-decoration: none;
 }

 .more-less {
     float: right;
     color: #212121;
 }

 .panel-default > .panel-heading + .panel-collapse > .panel-body {
     border-top-color: #EEEEEE;
 }
a.accordion_btn:after{
  display: none;
}
.display-inline {
    display: inline-flex;
    width: 100%;
}

input.form-control.price-box.price {
    width: 80%;
    float: left;
    margin-top: 0;
    padding: 0 14px;
    margin-left: 9px;
}
select.form-control.currency_id {
    width: 18%;
    float: left;
}
.button_section {
    text-align: center;
}
a.btn.learn-more.speedtest {
    border-radius: 35px;
    color: #4b565c;
    font-size: 17px;
    width: 12rem;
    height: auto;
}

.home_post .post-thumb {
    position: relative;
}
.home_post .post-thumb img{
    max-height: 100%;
}
.blog_page .post-thumb{
  text-align: center;
}
.blog-post.blog_page .post-thumb {
    max-height: 240px;
    min-height: 240px;
}
.city-autocomplete {
    position: absolute;
    top: 38px !important;
    left: 0;
}
div#city_div {
    position: relative;
    text-align: left;
}
.country_list  {
  text-align: left;
    display: none;
    position: absolute;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 3px 6px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}
ul.country-autocomplete a {
    color: inherit;
}
ul.country-autocomplete li:hover {
    background-color: #ccc;
}
.row.starrating_error div {
    text-align: center;
    width: 64%;
    padding: 10px;
    color: #f00;
    margin: 0px auto 21px;
    border: 1px solid;
    border-radius: 2px;
    background: #ff000038;
}
.row.device_starrating_error div {
    text-align: center;
    width: 64%;
    padding: 10px;
    color: #f00;
    margin: 0px auto 21px;
    border: 1px solid;
    border-radius: 2px;
    background: #ff000038;
}
.address_list {
  padding: 0 16px;
  font-weight: 600;
  width: 100%;
}
.text-green {
  color: #7ad1ae;
}
.post_prepaid_class{
  max-width: 200px;
}
.mobile_home_class{
  max-width: 230px;
}
.pay_as_usage{
  max-width: 230px;
}

/* Profile sidebar */
.profile-usermenu .nav{
  display: block;
}
.profile-usermenu {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(175, 175, 175, 0.65);
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  padding: 10px;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

a.edit_address {
    position: absolute;
    top: -1px;
    right: -18px;
}
.profile_address {
    position: relative;
}
.change_password_button,.change_password_button:hover,.change_password_button:active,.change_password_button:focus {
    color: #4a545a;
    background-color: #96fdd4;
    border-color: #96fdd4; 
}

/*Speed test Section */

#startStopBtn{
  display:inline-block;
  margin:0 auto;
  color:#6060AA;
  background-color:rgba(0,0,0,0);
  border:0.15em solid #6060FF;
  border-radius:0.3em;
  transition:all 0.3s;
  box-sizing:border-box;
  width:8em; height:3em;
  line-height:2.7em;
  cursor:pointer;
  box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
}
#startStopBtn:hover{
  box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
}
#startStopBtn.running{
  background-color:#FF3030;
  border-color:#FF6060;
  color:#FFFFFF;
}
#startStopBtn:before{
  content:"Start";
}
#startStopBtn.running:before{
  content:"Abort";
}
#test{
  margin-top:2em;
}
div.testArea{
  display:inline-block;
  width:16em;
  height:12.5em;
  position:relative;
  box-sizing:border-box;
  text-align: center;
}
div.testName{
  position:absolute;
  top:0.1em; left:0;
  width:100%;
  font-size:1.4em;
  z-index:9;
}
div.meterText{
  position:absolute;
  bottom:1.55em; left:0;
  width:100%;
  font-size:2.5em;
  z-index:9;
}
div.meterText:empty:before{
  content:"0.00";
}
div.unit{
  position:absolute;
  bottom:2em; left:0;
  width:100%;
  z-index:9;
}
div.testArea canvas{
  position:absolute;
  top:0; left:0; width:100%; height:100%;
  z-index:1;
}
div.testGroup{
  display:flex;
}

@media all and (max-width:65em){
  body{
    font-size:1.5vw;
  }
}
@media all and (max-width:40em){
  body{
    font-size:0.8em;
  }
  div.testGroup{
    display:block;
    margin: 0 auto;
  }
}

/*Chat css */
  img{ max-width:100%;}
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
  }
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  .top_spac{ margin: 20px 0 0;}


  .recent_heading {float: left; width:40%;}
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%; padding:
  }
  .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }
  .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

  .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
  .chat_ib h5 span{ font-size:13px; float:right;}
  .chat_ib p{ font-size:14px; color:#989898; margin:auto}
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people{ overflow:hidden; clear:both;}
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  .inbox_chat { height: 550px; overflow-y: scroll;}

  .active_chat{ background:#ebebeb;}

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
   }
   .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 0px 10px 10px 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .received_withd_msg { width: auto; max-width: 35%; float: left;}
  .mesgs {
    float: left;
    width: 100%;
    border: 1px solid #96fdd4;
    border-radius: 5px;
  }

   .sent_msg p {
    background: #96fdd4 none repeat scroll 0 0;
    border-radius: 10px 0px 10px 10px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
  .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
  .sent_msg {
    float: right;
    width: auto;
    max-width: 35%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
  .msg_send_btn {
    background: #96fdd4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  .messaging { padding: 0 0 50px 0;}
  .msg_history {
    height: 516px;
    overflow-y: auto;
    padding: 0 10px;
  }

  .heading_case {
    background: #96fdd4;
    padding: 2px 15px;
    border-radius: 4px;
    color: #333;
    position: relative;
    width: 100%;
  }
  .close_btn {
    position: absolute;
    top: 10px;
    right: 14px;
  }
  .close_btn a{
    color: #333;
  }
  .input_msg_write {
      padding: 0 10px;
  }
/*End Chat css */