.location_search {
    width: 75%;
    margin: 0 auto;
}
#unlimited_calls{
	display: inline-table;
}
.w-40 {
    width: 40%;
}

/*Toggle switch button css*/
.switch {
  	position: relative;
  	display: inline-block;
  	width: 50px;
	height: 20px;
	margin-bottom: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -2.6px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: transparent;
    border: 1px solid #96fdd4;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    border-radius: 13px;
    width: 15px;
    left: 5px;
    bottom: 3.6px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 1px 8px 0px #7d7d7d;
}

input:checked + .slider {
    background-color: #96fdd4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
span.toggle_label {
    color: #fff;
    font-size: 15px;
    vertical-align: text-bottom;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End Toggle switch button css*/

#new-products .product-item{
  margin-bottom: 0px;
}
#new-products .owl-nav{
  top: -150px;
}
#new-products .carousel-thumb img{
  width: 80%;
}
.service_type .buisness{
  display: none;
}
.provider_text{
  display: none;
}
/*Rating star css */
.rate-base-layer
  {
      color: #999;
  }
.rate-hover-layer
  {
      color: orange;
  }
  .rate-select-layer
  {
      color: orange;
  }
  .rateing {
    font-size: 35px;
}a.link:hover span{
  color: #fff;
}

ul.first_row_service li {
    display: inline-flex;
}