.location_search {
    width: 75%;
    margin: 0 auto;
}
#unlimited_calls{
	display: inline-table;
}
label.error{
  color: red;
  float: left;
  text-transform: capitalize;
  font-size: 15px;
}
input.error,select.error{
  border-bottom:1px solid red !important;
}
.reveiewing_form_service input.error,select.error{
  border:1px solid red !important;
}
ul.inline_list {
    display: -webkit-inline-box;
}
ul.inline_list li {
    margin-right: 5rem;
}
.w-40 {
    width: 40%;
}
a.btn.btn-info.pull-right.add_service:hover{
  background-color: #96fdd4 !important;
  color: #495057 !important;
  border-color: #96fdd4 !important;
}
.contact-form .submit-btn:hover, button.btn.btn-primary.btn-lg.btn-block.product-submit-btn:hover{
  background-color: #96fdd4 !important;
  color: #495057 !important;
  border-color: #96fdd4 !important;
}
.contact-form .submit-btn, button.btn.btn-primary.btn-lg.btn-block.product-submit-btn {
    background-color: #96fdd4;
    color: #495057;
    width: 30%;
}
.service-rating-submit-btn{
  color: #495057;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary{
  background: #96fdd4;
  color: #495057;
  border: #96fdd4;
}
.tg-select.tg-select select{
  line-height: 37px;
  padding: 0 10px;
}
.tg-select.tg-select:after{
  top:0;
}
.tg-select.form-control {
    padding: 0;
}
/*Toggle switch button css*/
.switch {
  	position: relative;
  	display: inline-block;
  	width: 40px;
	height: 20px;
	margin-bottom: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -2.6px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #96fdd4;
    border: 1px solid #96fdd4;
    transition: .4s;
    border-radius: 30px;
}
span.toggle_label.active {
    color: #96fdd4;
    font-weight: 600;
}
span.reviewpage_toggle.active{
    color: #96fdd4 !important;
    font-weight: 600;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    border-radius: 13px;
    width: 14px;
    left: 5px;
    bottom: 3.6px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 1px 8px 0px #7d7d7d;
}

input:checked + .slider {
    background-color: #96fdd4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider:before {
    background: #fff;
    left: -6px;
}
.text-default{
  color: #999 !important;
}
.reviewpage_toggle{
  vertical-align: text-bottom;
  font-size: 20px;
}
span.toggle_label {
    color: #fff;
    font-size: 15px;
    vertical-align: text-bottom;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End Toggle switch button css*/

#new-products .product-item{
  margin-bottom: 0px;
}
#new-products .owl-nav{
  top: -150px;
}
#new-products .carousel-thumb img{
  width: 80%;
}
.service_type .buisness{
  display: none;
}
.provider_text{
  display: none;
}
/*Rating star css */
.rate-base-layer
  {
      color: #999;
  }
.rate-hover-layer
  {
      color: orange;
  }
  .rate-select-layer
  {
      color: orange;
  }
  .rating {
    font-size: 35px;
}
a.link:hover span{
  color: #fff;
}

ul.first_row_service li {
    display: inline-flex;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #96fdd4;
    border-color: #96fdd4 #96fdd4 #96fdd4;
}
.nav-tabs .nav-link{
  color: #495057;
}
div#accordion .panel-heading h4 a{
  color: #495057; 
  padding-left: 0;
  padding-right: 0;
}
div#accordion .panel-heading h4 a i{
 color: #495057; 
}
.add_service{
  color: #495057;
}
/*Accordian*/

.panel-group .panel {
     border-radius: 0;
     box-shadow: none;
     border-color: #EEEEEE;
 }

 .panel-title {
     font-size: 14px;
 }

 .panel-title > a {
     display: block;
     padding: 15px;
     text-decoration: none;
 }

 .more-less {
     float: right;
     color: #212121;
 }

 .panel-default > .panel-heading + .panel-collapse > .panel-body {
     border-top-color: #EEEEEE;
 }
a.accordion_btn:after{
  display: none;
}
.display-inline {
    display: inline-flex;
    width: 100%;
}

input.form-control.price-box.price {
    width: 80%;
    float: left;
    margin-top: 0;
    padding: 0 14px;
    margin-left: 9px;
}
select.form-control.currency_id {
    width: 18%;
    float: left;
}
.button_section {
    text-align: center;
}
a.btn.learn-more.speedtest {
    border-radius: 35px;
    color: #4b565c;
    font-size: 17px;
    width: 12rem;
    height: auto;
}

.home_post .post-thumb {
    position: relative;
}
.home_post .post-thumb img{
    max-height: 100%;
}
.blog_page .post-thumb{
  text-align: center;
}
.blog-post.blog_page .post-thumb {
    max-height: 240px;
    min-height: 240px;
}
.city-autocomplete {
    position: absolute;
    top: 38px !important;
    left: 0;
}
div#city_div {
    position: relative;
    text-align: left;
}
.country_list  {
  text-align: left;
    display: none;
    position: absolute;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 3px 6px;
    padding: 10px;
}
ul.country-autocomplete a {
    color: inherit;
}
ul.country-autocomplete li:hover {
    background-color: #ccc;
}
.row.starrating_error div {
    text-align: center;
    width: 64%;
    padding: 10px;
    color: #f00;
    margin: 0px auto 21px;
    border: 1px solid;
    border-radius: 2px;
    background: #ff000038;
}

.address_list {
  padding: 0 16px;
  font-weight: 600;
  width: 100%;
}
.text-green {
  color: #7ad1ae;
}
.post_prepaid_class{
  max-width: 200px;
}
.mobile_home_class{
  max-width: 230px;
}
.pay_as_usage{
  max-width: 230px;
}