span.toggle_label {
    vertical-align: top;
}
.ads_pagination .pagination{
	float: right;
}
/*Image preview*/

.blog_image .avatar-upload {
  position: relative;
  max-width: 205px;
}
.blog_image .avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 0px;
}
.blog_image .avatar-upload .avatar-edit input {
  display: none;
}
.blog_image .avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.blog_image .avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.blog_image .avatar-upload .avatar-edit input + label i {
  
  color: #757575;
  position: absolute;
  top: 7px;
  left: 3px;
  right: 0;
  text-align: center;
  margin: auto;
}
.blog_image .avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.blog_image .avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*End Image preview*/
/*Single blog page */
.post_image_single{
  width: 100%;
}
.post_image_single img{
  width: 100%;
}
.post_title_single h1{
  width: 50%;
  margin:0 auto !important;
}
.post_title_single small{
  text-decoration: underline;
}
/*End Single blog page */

/*Side bar css */
.dropdown-menu.dropdown-menu-small.show {
    left: 20px;
}
/*.sidebar_nav .dropdown-menu.dropdown-menu-small.show{
  position: relative;
}*/
/*End Side bar css */




/*User list page*/
  
  /*Search css*/
  .user-search-form form {
      display: inline-flex;
  }
  .user-search-form input {
      padding: 0px 8px;
      height: 34px;
      margin-right: 9px;
  }
  /*End Search css*/

/*End User list page*/




/*Profile page accordians */
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}
.admin-profile .admin-accordians {
    padding: 0;
}
.admin-profile .admin-accordians button.btn.btn-link {
    width: 100%;
    text-align: left;
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
    color: #fff;
}
.admin-accordians ul.inline_list {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.admin-accordians ul.inline_list li{
  margin-right: 30px;
}
.admin-accordians .btn-link {
    font-weight: 500;
}
#user-detail .card-profile-image img {
    max-width: 150px;
}
#user-detail .container-fluid {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.admin_accordian_section .service_list_design .card_sm div {
    font-size: 15px;
    line-height: 30px;
}
.rating-heart{
  vertical-align: middle;
  line-height: 5px;
}
.admin_accordian_section h2.section-title.text-center {
    text-decoration: underline;
}

.inner-admin-accordians {
    width: 100%;
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
    padding: 5px;
    border-radius: 6px;
}
.inner-admin-accordians .accordion_btn {
    color: #fff;
}
.inner-accordian-content {
    padding: 10px;
}
.admin-profile {
    width: 100%;
}
/*End Profile page accordians */

.form-control.datepicker {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}
.form-control.datepicker::placeholder{
  color: #b5bcc3;
}
.form-control.datepicker + i {
    right: 12px;
    top: 12px;
    color: #b5bcc3;
}